@model FakeTicket.Models.TicketViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<img src="@Url.Action("Get", "Ticket", new { path = Model.GeneratedTicket.Path }) alt="" style="max-width:100%" />
<div>
    <p><b>First Name: </b>@Model.FirstName</p>
    <p><b>Last Name: </b>@Model.LastName</p>
    <p><b>From: </b>@Model.From</p>
    <p><b>To :</b>@Model.To</p>
    <p><b>Flight Date: </b>@Model.FlightDate</p>
    <p><b>Boarding Time: </b>@Model.BoardingTime</p>
    <p><b>Airline: </b>@Model.Airline</p>
    <p><b>Flight Number: </b>@Model.FlightNumber</p>
    <p><b>Gate: </b>@Model.Gate</p>
    <p><b>Seat: </b>@Model.Seat</p>
    <p><b>Class: </b>@Model.Class</p>
    <p><b>Language: </b>@Model.Language</p>
</div>
